<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python via wfastcgi" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\restore_backup\venv\Scripts\python.exe|C:\inetpub\wwwroot\restore_backup\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>

    <defaultDocument>
      <files>
        <clear />
        <add value="run.py" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="true" />
    <security>

     <authentication>
        <windowsAuthentication enabled="false" />
        <anonymousAuthentication enabled="true" />
      </authentication>
    </security>
	  <httpErrors errorMode="Detailed" />
	  <asp scriptErrorSentToBrowser="true" />

    </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="run.app" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\restore_backup\" />
    <add key="WSGI_LOG" value="C:\inetpub\wwwroot\restore_backup\wfastcgi.log" />
    <add key="SCRIPT_NAME" value="/restore_backup" />
  </appSettings>
</configuration>
